{% extends 'dashboard_master.html' %}
{% load static %}

{% block head %}
{% endblock %}

{% block body %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Orders</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group me-2">
        <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
      </div>
      <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar" aria-hidden="true"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
        This week
      </button>
    </div>
  </div>

  <div class="d-flex justify-content-end">
    <a href="#" class="btn btn-dark btn-sm">+ Add Product</a>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Order Id</th>
          <th scope="col">Variants</th>
          <th scope="col">Type</th>
          <th scope="col">Draft</th>
          <th scope="col">Created At</th>
          <th scope="col">Updated At</th>
          <th scope="col">Published At</th>
        </tr>
      </thead>
      <tbody>
        {% for product in products %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td><a href="#">{{product.title}}</a></td>
          <td>{{product.product_variants.all|length}}</td>
          <td>{{product.product_type}}</td>
          <td>{{product.draft}}</td>
          <td>{{product.created_at}}</td>
          <td>{{product.updated_at}}</td>
          <td>{{product.published_at}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}

{% block js %}
{% endblock %}